[submodule "external/Catch2"]
	path = external/Catch2
	url = git@github.com:catchorg/Catch2.git
[submodule "external/barnes-hut-simulation"]
	path = external/barnes-hut-simulation
	url = git@github.com:Harsh-Sinha/barnes-hut-simulation.git
[submodule "external/boost"]
	path = external/boost
	url = git@github.com:boostorg/boost.git
